@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9F62F2;
  --color-secondary: #001931;
  --color-base-200: #001931;
  --color-base-300: white;
  --color-accent: #9F62F2;
}

.btn-primary {
  background: linear-gradient(to right, #632EE3, #9F62F2) !important;
  border: none !important;
  color: white !important;
}
.btn-primary:hover {
  background: linear-gradient(to right, #5528c8, #8e58de) !important;
}

